:root {
    --clr-accent-1: #27fafb;
    --clr-accent-1-rgba: 39, 250, 251;
    --clr-accent-2: #3f70f9;
    --clr-accent-2-rgba: 63, 112, 249;
    --clr-accent-mix: #3b96fa;
    --clr-accent-mix-rgba : 59, 149, 250;

    --accent-gradient: linear-gradient(45deg, rgb(var(--clr-accent-1-rgba)) 0%, var(--clr-accent-2) 100%);
    --accent-gradient-txt: linear-gradient(45deg, rgb(var(--clr-accent-1-rgba)) 0%, var(--clr-accent-2) 100%);
    --silver-gradient: linear-gradient(0deg, var(--clr-light-silver) 0%, var(--clr-pure-white) 97%);
    --main-bg-gradient: linear-gradient(180deg, var(--clr-dark-1) 0%, var(--clr-dark-0) 100%);

    --clr-dark-0: #0b0c0e;
    --clr-dark-0-rgba: 11, 12, 14;
    --clr-dark-1: #1b1c23;
    --clr-dark-1-rgba: 27, 28, 35;
    /* --clr-dark-2: #1e2639;
    --clr-dark-2-rgba: 30, 38, 57; */

    --clr-light-silver: #ccd6e2;
    --clr-light-silver-rgba: 204, 214, 226;
    --clr-pure-white:  #fff;
    --clr-pure-white-rgba:  255, 255, 255;




    --clr-red: #e91236;
    --clr-dew-red: #e2010b;
    --clr-red-rgba: 233, 18, 54;
    --clr-green-0: #57ca81;
    --clr-green-0-rgb: 87, 202, 129;
    --transition-speed: 250ms;
}




